.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  span{
    display: inline-block;
      background-color: antiquewhite;
      padding: 10px;
      margin: 5px;
  }
  .list-wrapper{
    border: 1px solid #ccc;
      margin: auto;
      width: 500px;
      margin-top: 10px;
  }
  .search-row{
    max-width: 100px;
      background-color: aliceblue;
      padding: 3px;
      margin: auto;
      margin-top: 8px
  }
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #077c9c;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .login{
    background:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  
  
  }
  .forme{
    height: 250px;
    width: 300px;
    background:#81a1c2;
    padding:15px;
    text-align: center;
    border-radius: 4px;
  
  }
 
  input{
    padding: 5px 10px;
  
    border: none;
  }
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }